* {
  /* border: 1px dashed red; */
}

/* General rules */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', arial;
}

.content-block {
  max-width: 1000px;
  min-width: 1000px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header Section */
.header {
  background: #1F2937;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header .right-links {
  display:flex;
  justify-content: right;
  margin-left: auto;
}

.header a {
  text-decoration: none;
  padding: 10px;
  color: #E5E7EB;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  color: white;
}

/* First Section Work */
.s1 {
  background: #1F2937;
  color: white;
}

.s1 .content-block {
  height: 450px; 
  gap: 25px;
}

.s1 .content-block .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.s1 .content-block .left p{
  margin-top: 5px;
  margin-bottom: 10px;
  color: #E5E7EB;
}

.s1 .content-block h1 {
  font-size: 48px;
  margin-bottom: 0;
}

.s1 .content-block p {
  font-size: 18px;
  color: #E5E7EB;
}

.s1 img {
  height: 300px;
}

.s1 .content-block .left button {
  color: white;
  background-color: #3882F6;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
}

/* Section 2 work */
.s2 {
  background: white;
}

.s2 .content-block {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 80px;
}

.s2 .content-block h2 {
  font-size: 36px;
  color: #1F2937;
  margin-bottom: 40px;
}

.s2 .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.s2 .card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 160px;
}

.s2 .card p {
  text-align: center;
  color: grey;
  margin: 6px 0px 0px 0px;
}

.s2 img {
  width: 160px;
  height: 160px; 
  border: 3px solid #3882F6;
  border-radius: 10px;
}

/* Section 3 work */
.s3 {
  background-color: #E5E7EB;
}

.s3 .content-block {
  flex-direction: column;
  justify-content: center;
  height: 400px;
}

.s3 .content-block .quote-container *{
  width: 800px;
  margin: 0px;
}

.s3 .content-block .quote {
  font-size: 36px;
  font-style: italic;
  color: black;
}

.s3 .content-block .Name {
  font-weight: bold;
  color: #1F2937;
  text-align: end;
  font-size: 25px;
}

/* Section 4 work */
.s4 {
  background-color: white;
}

.s4 .content-block {
  height: 350px;
}

.s4 .rectangle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3882F6;
  padding: 50px 100px;
  width: inherit;
  border-radius: 10px;
}

.s4 .rectangle .left .maintext {
  font-weight: bold;
  color: white;
  font-size: 24px;
}

.s4 .rectangle .left .subtext {
  color: #E5E7EB;
  font-size: 18px;
}

.s4 .rectangle button {
  border: 2px solid white;
  background-color: #3882F6;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  width: 140px;
  height: 40px;
}

/* footer work */
.footer {
  display: flex;
  justify-content: center;
  background-color: #1F2937;
  color: white;
}

.footer .content-block {
  padding: 40px 0px;
  color:#E5E7EB;
}
